body {
    background-color: rgb(172, 198, 250);
}
h1 {
    border: rgb(32, 32, 32);
    border-style: solid;
}
#p1 {
    background-color: rgb(252, 252, 169);
}
h2{
    color: purple;
}
#li1 {
    text-decoration: overline;
    color: purple;
}
#txt1{
    border-width: medium;
    width: 800px;
    height: 300px;
}
input{
    border-color: orange;
}
div{
    background-color: blue;
    border-color: yellow;
    border-style: dotted;
    border-width: medium;
}
#pl {
    background-color: khaki;
}